.grid-container {
    display: grid;
    background-color: #111;/*#2196F3;this is skyblue*/
    grid-template-columns: 250px auto 300px;
    /*gap: 10px;*/
    padding: 5px;
    margin: -5px;
    overflow-x: hidden;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 5px;
    font-size: 30px;
  }

  .item1 {
    grid-area: 1/1/2/4;
  }

  .item2 {
    grid-area: 2/1/4/2;
  }

  .item3 {
    grid-area: 2/2/3/3;
  }

  .item4 {
    grid-area: 2/3/4/4;
  }
  
  .item5 {
    grid-area: 3/2/4/3;
  }

  .navbar > a {
    display: block;
    text-decoration: none;
    color: dimgray;
    margin: 20px 5px;
  }

  a:hover {
    color: hotpink;
  }

  .main > iframe {
    margin-bottom: 0;
  }